.modal {
    &__product {
        height: 100%;
        overflow: hidden;
        padding: 35px;
        padding-right: 40px;
        display: flex;
        overflow-x: hidden;
        max-width: 750px;
        gap: 35px;
        margin-bottom: 20px;
        min-width: 840px;
        min-height: 510px;

        @media (max-width: 1190px) {
            padding: 20px 50px 20px 20px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            min-width: 100%;
            max-width: 496px;
            padding: 40px 20px;
        }

        @media (max-width: 576px) {
            width: 100%;
        }

        &-image {
            width: 100%;

            img {
                width: 100%;
            }
        }

        &-col--1 {
            width: 45%;

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        &-col--2 {
            width: 55%;

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        &-category {
            display: block;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1;
            letter-spacing: 0.015em;
            color: $blue-main;

            &:hover {
                color: #F63E04;
            }
        }

        &-title {
            font-size: 2.8rem;
            letter-spacing: -0.015em;
            font-weight: 700;
            line-height: 1.15;
            color: $blue-main;
            margin-top: 15px;
        }

        &-description {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #7F8D9D;
            margin-top: 20px;
            font-family: "Outfit", sans-serif;
        }

        &-label {
            margin-top: 25px;
            display: flex;
            justify-content: space-between;
        }

        &-weight {
            display: block;
            font-weight: 600;
            font-size: 10px;
            line-height: 15px;
            letter-spacing: 0.02em;
            margin-bottom: 10px;
            color: #7F8D9D;
        }

        &-reset {
            font-weight: 600;
            font-size: 10px;
            line-height: 15px;
            letter-spacing: 0.02em;
            color: $blue-main;
            display: inline-flex;
            cursor: pointer;
        }

        &-price {
            font-size: 23px;
            font-weight: 700;
            font-family: "Quicksand",sans-serif;
            margin-bottom: 10px;
        }

        &-stockless {
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.02em;
            color: #D1333C;
            margin-bottom: 10px;
        }

        &-wrap {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
        }

        &-btnClose {
            position: absolute;
            z-index: 1;
            right: 0;
            top: 0;

            svg {
                font-size: 2rem;
            }
        }

        .btn:disabled {
            cursor: not-allowed;
        }
    }
}