@include respond(desktop) {
    .checkout {

        &__container {
            width: 1160px;
            margin: 30px auto 40px;
        }
    }
}

.checkout {
    &__container {
        background: $white;
        border-radius: 4px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            @include position(absolute, 0, 0, 0, 0);
            border-radius: 4px;
            border: solid 1px $border-color-light;
            pointer-events: none;
            z-index: 1;
        }
    }

    &__wrap {
        width: 100%;
        display: flex;
    }

    &__col {
        &-left {
            flex: 1 1 auto;
            padding: 35px 40px;
        }

        &-right {
            flex: 0 0 auto;
            margin: 20px;
            margin-left: 0;
            width: 400px;
            max-width: 100%;
        }
    }

    &__collaterals {
        border: solid 1px $blue-main;
        border-radius: 4px;
        padding: 25px 35px 30px 35px;
    }

    &__sub-header {
        text-align: left;
        @include text(2.2rem, 500, $blue-main, 1.27);
    }

    &__order {

        &-space {
            padding: 6px 0;
        }

        &-space2 {
            padding: 20px 0;
            position: relative;

            &::after {
                content: '';
                display: block;
                @include position(absolute, null, 0, null, 0);
                border-top: solid 1px $border-color-light;
            }
        }

        &-name {
            @include text(1.4rem, 400, $blue-main-hover, 1.27);
            letter-spacing: 0.02em;
        }

        &-price {
            @include text(1.7rem, 700, $blue-main-hover, 2.1rem);
            letter-spacing: -0.01em;
            font-family: $font-quicksan;
        }

        &-subtotal-header {
            @include text(1.4rem, 700, $blue-main-hover, 2rem);
            letter-spacing: 0.005em;
            font-family: $font-quicksan;

        }

        &-shipping-method {
            @include flex(null, center, null, null);
            flex-wrap: wrap;
            margin-top: 15px;
        }
    }

}