@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

//spacing:
$spacing: 4px;

//font:
$roboto-font: 'Roboto', sans-serif;
$font-quicksan: 'Quicksand', sans-serif;
$font-outfit: 'Outfit', sans-serif;

//colors:
$white: #ffffff;
$blue: #1677FF;
$blue-hover: #4096ff;



